<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plants Nursery App</title>
</head>
<body>
    <form action="/plants/<%= index %>?_method=PUT" method="POST">
        name: <input type="text" name="name" value="<%= plant.name %>"><br/>

        image: <input type="text" name="img" value="<%=plant.img%>"><br/>

        description: <input type="text" name="description" value="<%=plant.description%>"><br/>

        price: <input type="number" name="price" value="<%=plant.price%>"><br/>

        qty: <input type="number" name="qty" value="<%=plant.qty%>"><br/>

        <input type="submit" value="enter" />
    
    </form>
</body>
</html>